:root {
    --cor-de-fundo-botao: gold;
    --cor-fonte: red;
    --cor-borda: black;

}

.titulo1 {
    font-family: tac one;
    color: var(--cor-fonte);
    font-size: 10em;
    text-align: center;
    padding: 50px 50px;
}

body {
    background-image: url(buraco-negro.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}


.materia-escura {
    list-style: none;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 35px;
    display: block;
    justify-content: space-around;
}

.energia-escura {
    list-style: none;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 35px;
    display: block;
    justify-content: space-around;
}

.titulo-principal1 {
    font-family:  'Times New Roman', Times, serif  ;
    font-size: 2em;
    color: white;
    padding: 1px 1px;
}

.titulo-principal2 {
    font-family:  'Times New Roman', Times, serif  ;
    font-size: 2em;
    color: white;
    padding: 1px 1px;
}
